<div class="table-responsive col-md-6">
    <table class="table table-striped">
        <tr>
            <td>Monto: </td>
            <td><input type="number" class="form-control" data-ng-model="cuenta.monto"></td>
        </tr>
        <tr>
            <td>Proveniencia: </td>
            <td><input type="text" class="form-control" data-ng-model="cuenta.proviene"></td>
        </tr>
        <tr>
            <td><button class="btn btn-success" data-ng-click="agregarCuenta()">Agregar Cuenta</button></td>
        </tr>
    </table>
</div>